<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrdersMapper">

    <resultMap id="ordersMap" type="orders">
        <id property="id" column="id"></id>
        <!--关联product表查询-->
        <association property="product" javaType="product" column="productId" select="com.itheima.mapper.ProductMapper.findById"/>
        <!--关联member表查询-->
        <association property="member" javaType="member" column="memberId" select="com.itheima.mapper.MemberMapper.findById"/>
        <!--关联traveller表查询-->
        <collection property="travellers" ofType="traveller" column="id" select="com.itheima.mapper.TravellerMapper.findByIds" fetchType="lazy"/>
    </resultMap>
    <!--订单详情查询-->
    <select id="findById" parameterType="String" resultMap="ordersMap">
        select * from ORDERS where id = #{id}
    </select>
    <!--分页模糊查询-->
    <select id="findAll" resultMap="ordersMap">
        select * from ORDERS
        <where >
            <if test="orderNum != null">
                orderNum LIKE concat(concat('%',#{orderNum}),'%')
            </if>
        </where>
    </select>

    <!--删除选中-->
    <delete id="delete" parameterType="orders">
        delete from ORDERS where id in
        <if test=" idStr != null and idStr.length>0 ">
            <foreach collection="idStr" open="(" separator="," close=")" item="id">
                 #{id}
            </foreach>
        </if>
    </delete>

    <!--改变状态-->
    <update id="updateStatus" parameterType="orders">
  update (select * from orders where orderstatus = 0) a set a.orderstatus = #{orderStatus}
  where id IN
 <if test="idStr!=null and idStr.length>0">
     <foreach collection="idStr" open="(" close=")" separator="," item="id">
         #{id}
     </foreach>
 </if>
    </update>
</mapper>